:root {
	--tab-font: #BFB2AE;
	--grey-font: #abaaab;
	--main-font: #2b2a2a;
	--amber-font: #616161;
	--project-font: #4B4337;
	--normal-text: #7c7c7c;


	/*----------timeline-------------*/
	--timeline: #e5e0de;
	--timeline-date-font: white;
	--timeline-card-bg: #ffc440;
	--timeline-card-font: #abaaab;
	--timeline-title-font: #FFB300;


	/*--------- home ------------*/
	--bold-font: #212121;
	--yellow: #f1bd39;
	--inactive: #E0E0E0;
	--grey-bg: #f8f8f8;

	/*-------- footer ------------*/
	--footer-font: #BFB2AE;

	/*-------- contact ------------*/
	--contact-font: #616161;


}

html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
}

body {
	min-height: 100vh;
	color: var(--main-font);
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 70px;
}

body > .container {
	padding-top: 40px;
	background-color: white;
}

body  h2, h3, h4, h5, h6, p {
	line-height: 1.75em;
	letter-spacing: 0.03em;
}

h1 {
	font-size: 2.5em;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--amber-font);

}

h2 {
	font-size: 2em;
	font-weight: 400;
	text-transform: uppercase;
}

h3 {
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 600;
}

h4 {
	text-transform: capitalize;
}

h5{
	font-size: 1.2em;
	font-weight: 600;
}

h6 {
	font-size: 1.1em;
	font-weight: 300;
}

p {
	font-style: italic;
}
@media (max-width: 765px) {

	.noshow-on-phone{
		display: none !important;
	}

}

@media only screen and (max-device-width: 800px){

	h6 {
		font-weight: 400!important;
		color: var(--normal-text);

	}
}

.margin-top {
	margin-top: 5%;
}


.custom-btn {
	border: none;
	background-color: var(--yellow);
	border-radius: 1.5em;
	z-index: 3;
	text-transform: uppercase;
	text-decoration: none;
	transition: all 0.2s linear;
	padding: 0.7em 1.5em;
	font-size: 1.2em;
	letter-spacing: 0.05em;
	color: var(--bold-font);
	font-weight: 600;
}

.custom-btn:hover{
	color: var(--bold-font);
	background-color: var(--inactive);
}

.custom-btn:active, .custom-btn:focus{
	outline: none !important;
}

@media only screen and (max-device-width: 800px) {
	.custom-btn {
		font-size: 1.1em;
	}
}




.network-icons {
	margin-top: 0.8em;
	display: flex;
	align-items: center;
	min-height: 3em;
}

.network-icons a{
	margin-right: 1em;
	font-size: 1.5em;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;

}

.network-icons a:hover {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	font-size: 2em;

}

.gray-break{
	width: 100%;
	height: 10vh;

	background: white;
	background: linear-gradient(to right bottom, white 50%, var(--grey-bg) 50%);

}

.white-break {
	width: 100%;
	height: 10vh;

	background: var(--grey-bg);
	background: linear-gradient(to right bottom, var(--grey-bg) 50%, white 50%);

}

.title-right{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10%;
}

.title-left {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 10%;

}


.flex-center-item {
	align-self: center;
	text-align: center;
}

.padding-content {
	padding: 0 10%;
}


.footer{
	background-color: var(--grey-bg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	bottom: 0;
	left: 0;
	right: 0;
}

.footer .network-icons i {
	color: var(--yellow);
}

.footer .network-icons {
	margin-top: 0px;
}

.footer h6 {
	font-size: 0.9em;
	color: var(--footer-font);
	margin-top: 0px;
}


.show {
	visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-backface-visibility: visible !important;

	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;

}

