:root {
	--dark-trans: rgba(27,27,27,0.8);
	--light-grey-bg: #F5F5F5;
	--tab-font: #BFB2AE;
	--grey-font: #abaaab;


	/*----------timeline-------------*/
	--timeline: #e5e0de;
	--timeline-date-font: white;
	--timeline-card-bg: #ffc440;
	--timeline-card-font: #abaaab;
	--timeline-title-font: #FFB300;


	/*--------- home ------------*/
	--bold-font: #212121;
	--yellow: #f1bd39;
	--inactive: #E0E0E0;
	--grey-bg: #f8f8f8;

	/*-------- footer ------------*/
	--footer-font: #BFB2AE;

	/*-------- contact ------------*/
	--contact-font: #616161;


}

html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
}

body {
	min-height: 100vh;
	color: var(--dark-grey);
	font-family: 'Poppins', sans-serif;
	padding-top: 50px;
}

body > .container {
	padding-top: 40px;
	background-color: white;
}

body h2, h3, h4, h5, h6, p {
	line-height: 1.75em;
	letter-spacing: 0.03em;
}

h1 {
	font-size: 2em;
	font-weight: 600;
	text-transform: uppercase;
}

h2 {
	font-size: 2em;
	font-weight: 300;
	text-transform: uppercase;
}

h3 {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 600;
}

h4 {
	text-transform: capitalize;
}

h5{
	font-size: 1.2em;
	font-weight: 600;
}

h6 {
	font-size: 1em;
	font-weight: 300;
}

p {
	font-style: italic;
}
@media (max-width: 765px) {

	.noshow-on-phone{
		display: none !important;
	}
}

.margin-top {
	margin-top: 5%;
}


.custom-btn {
	border: none;
	background-color: var(--yellow);
	border-radius: 1.5em;
	z-index: 3;
	text-transform: uppercase;
	text-decoration: none;
	transition: all 0.2s linear;
	padding: 0.7em 1.5em;
	font-size: 1em;
	letter-spacing: 0.1em;
	color: var(--bold-font);
}

.custom-btn:hover{
	color: var(--bold-font);
	background-color: var(--inactive);
}

.custom-btn:active, .custom-btn:focus{
	outline: none !important;
}


.network-icons {
	margin-top: 0.8em;
	display: flex;
	align-items: center;
	min-height: 3em;
}

.network-icons a{
	margin-right: 1em;
	font-size: 1.5em;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;

}

.network-icons a:hover {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	font-size: 2em;

}

.gray-break{
	width: 100%;
	height: 10vh;

	background: white;
	background: linear-gradient(to right bottom, white 50%, var(--grey-bg) 50%);

}

.white-break {
	width: 100%;
	height: 10vh;

	background: var(--grey-bg);
	background: linear-gradient(to right bottom, var(--grey-bg) 50%, white 50%);

}

.title-right{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10%;
}

.title-left {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 10%;

}


.flex-center-item {
	align-self: center;
	text-align: center;
}

.padding-content {
	padding: 0 10%;
}


.footer{
	background-color: var(--grey-bg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer .network-icons i {
	color: var(--yellow);
}

.footer .network-icons {
	margin-top: 0px;
}

.footer h6 {
	font-size: 11px;
	color: var(--footer-font);
	margin-top: 0px;
}

/*---------- footer ------------*/



/*---------------old stuff ---------*/

/*.responsive-bg {*/
	/*width: 100%;*/
	/*height: 100%;*/
	/*min-height: 100%;*/
	/*background-position: center center;*/
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
	/*z-index: -1;*/
	/*overflow: hidden*/
/*}*/



/*!**/
 /** Responsive stypes*/
 /**!*/
/*@media (max-width: 980px) {*/

	/*body > .container {*/
		/*padding-top: 0;*/
	/*}*/
	/*.navbar-fixed-top {*/
		/*margin-bottom: 0;*/
	/*}*/

/*}*/

/*.nav-offset {*/
	/*margin-top: 60px;*/
/*}*/

/*.flex-center-container-column {*/
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: center;*/
	/*align-items: center;*/
/*}*/

/*.flex-left-container-column {*/
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: center;*/
	/*align-items: flex-start;*/
/*}*/

/*.flex-left-item {*/
	/*margin-top: 1em;*/
	/*align-self: flex-start;*/
/*}*/


/*.my-btn-outline {*/
	/*position: relative;*/
	/*z-index: 3;*/
	/*background: transparent;*/
	/*font-size: 14px;*/
	/*border-color: white;*/
	/*border-style: solid;*/
	/*border-width: 2px;*/
	/*border-radius: 0;*/
	/*padding: 10px 40px;*/
	/*text-transform: uppercase;*/
	/*transition: all 0.2s linear;*/
	/*text-decoration: none;*/
/*}*/


/*.my-btn-outline:hover {*/
	/*background: white;*/
	/*border-color: white;*/
	/*transition: all 0.2s linear;*/

/*}*/

/*.margin-top {*/
	/*margin-top: 10%;*/
/*}*/

/*.title {*/
	/*text-align: center;*/
/*}*/





/*.center-div {*/
	/*background-color: rgba(59,59,59, 0.4);*/
	/*position: absolute;*/
	/*padding: 30px 50px;*/
	/*top: 50%;*/
	/*left: 50%;*/
	/*transform: translate(-50%, -50%);*/
/*}*/

/*.show {*/
	/*visibility: visible !important;*/
	/*backface-visibility: visible !important;*/
	/*-webkit-backface-visibility: visible !important;*/

	/*-webkit-transition: all 400ms ease;*/
	/*-moz-transition: all 400ms ease;*/
	/*-ms-transition: all 400ms ease;*/
	/*-o-transition: all 400ms ease;*/
	/*transition: all 400ms ease;*/

/*}*/





/*.footer {*/
	/*min-height: 10vh;*/
	/*background-color: var(--dark-grey);*/
	/*display: flex;*/
	/*flex-direction: column;*/
	/*align-content: center;*/
	/*justify-content: center;*/
/*}*/
/*.footer p {*/
	/*margin-bottom: 1em;*/
	/*margin-top: 0;*/
	/*font-size: 1em;*/
	/*color: var(--inactive);*/
/*}*/
/*.footer > .network-icons{*/
	/*margin-top: 0.5em;*/
/*}*/
/*.footer > .network-icons i{*/
	/*color: var(--yellow);*/
	/*margin: auto 10px;*/
/*}*/