:root {
	--light-purple: #B5C2EB;
	--dark-purple: #494DA1;
	--button-color: #fd76b2;
	--blue-color: #4FC3F7;
	--dark-grey: #212121;
	--main-grey: #616161;
	--light-grey: #9E9E9E;
	--bold-grey: #27303b;
	--light-text: #a3afbf;
	--light-background: #f5f7f9;
}
body {
	height: 100%;
	font-family: 'Poppins', sans-serif;
	background-color: white;
	letter-spacing: 0.08em;
}



h1 {
	color: var(--dark-purple);
}

h2 {
	color: var(--light-purple);
}

h3 {
	color: var(--main-grey);
}

h4 {
	font-weight: bold;
	font-size: 1.5em;
	color: var(--bold-grey);
	font-family: "PT Serif";}

h5 {
	font-weight: 400;
	color: var(--main-grey);
	line-height: 150%;

}

h6 {
	font-weight: 400;
	color: var(--light-grey);
	line-height: 150%;
}

p {
	font-size: small;
	color: var(--light-grey);
	line-height: 150%;
}



.project-container {
	width: 80%;
	margin: 10% auto;
}


.inactive-color {
	color: var(--light-purple);
}

.active-color {
	color: var(--blue-color);
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
	padding-right: 0;
	padding-left: 0;
}
.navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
}
.navbar-wrapper .navbar .container {
	width: auto;
}

.navbar-default .navbar-toggle {
	border-style: none;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: var(--light-purple);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-default .navbar-toggle:focus>.icon-bar, .navbar-default .navbar-toggle:hover>.icon-bar{
	background-color: var(--blue-color);
}


.navbar-custom{
	border-style: solid;
	background-color: white;
	text-transform: uppercase;
	font-weight: 600;
	font-size: smaller;

}

/*.navbar-custom .navbar-nav>li>a{
	color: var(--inactive-color);
}

.navbar-custom .navbar-nav>li>a:hover, .navbar-nav>li>a:focus{
	color: var(--active-color);
}*/

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
	/* Navbar positioning foo */
	.navbar-wrapper {
		margin-top: 20px;
	}
	.navbar-wrapper .container {
		padding-right: 15px;
		padding-left: 15px;
	}
	.navbar-wrapper .navbar {
		padding-right: 0;
		padding-left: 0;
	}
	/* The navbar becomes detached from the top, so we round the corners */
	.navbar-wrapper .navbar {
		border-radius: 4px;
	}

	.navbar-custom{
		border-style: none;
		background-color: white;
		text-transform: uppercase;
		font-weight: 600;
		font-size: smaller;

	}

	.navbar-nav .btn-custom {
		margin: 0.15em 0.4em;
	}

    .btn-custom a {
	    color: white;
    }

    .btn-custom a:hover{
	    text-decoration: none;
    }

	/*.navbar-custom .navbar-nav>li>a{
		color: var(--inactive-color);
	}

	.navbar-custom .navbar-nav>li>a:hover, .navbar-nav>li>a:focus{
		color: var(--active-color);
	}*/
}

/* General style
---------------------------------------------------------*/
.full-height {
	height: 100%;
}

.flex-center-container-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.flex-left-container-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.flex-center-container-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;

}

.flex-left-container-row {
	display: flex;
	flex-flow: row wrap;
	flex-direction: row;
	justify-content: flex-start;
}

.flex-center-item {
	align-self: center;
	text-align: center;
}

.flex-left-item {
	margin-top: 1em;
	align-self: flex-start;
}

.align-left {
	margin-left: 0 !important;
}

.btn-custom {
	margin: 0.5em 1em;
	padding: 1em 1em;
	border-radius: 0;
	background-color: var(--light-purple);
	color: #ffffff;
	text-transform: uppercase;
	font-size: small;
	font-weight: 500;
}

.btn-custom:hover {
	color: white;
	background-color: var(--blue-color);
}

.btn-animate {
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;

}
.btn-animate:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

.text-animate {
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

.text-animate:hover {
	text-shadow: 0 0 1px gray, 0 0 25px gray, 0 0 5px grey;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

.custom-margin {
	margin: auto 5%;
}


.hidden {
	visibility: hidden
}

.full-width {
	width: 100%;
}
