#contact {
	position: relative;
	top: 0;
	left: 0;
	min-height: 93vh;
	width:100%;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container-fluid {
	margin-bottom: 10%;
}
.quote {
	width: 70%;
	margin: auto;
	padding: 5%;
}

.quote img {
	width: 100%;
	height: auto;
}

#left {
	padding-left: 0;
	padding-right: 0;
}

#right {
	padding-left: 2.5em;
}

#intro {
	color: var(--contact-font);
	margin-bottom: 25px;
}


#intro h5 {
	font-weight: 300;
}

#right .custom-btn {
	width: 100%;
}

.myPhoto {
	background-color: var(--yellow);
	width: 100%;
	max-height: 300px;
	max-width: 400px;
	overflow-y: hidden;


}

.myPhoto img {
	width: 100%;
	height: auto;
}

#personal-contact {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	justify-content: center;
}

#personal-contact img{
	margin-right: 0.5em;
	width: 25px;
	height: 25px;
}
#personal-contact h6 {
	margin-bottom: 0;
	font-size: 0.9em;
}


.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.box {
	background-color: var(--grey-bg);
	height: 55%;
	width: 70%;
	position: absolute;
	right: 0;
	top: 25%;
	z-index: -1;
}


@media only screen and (max-width: 800px){
	#contact {
		min-height: 95vh;
	}

	.quote {
		width: 100%;
	}

	.container-fluid {
		margin-bottom: 20%;
	}

}

@media only screen and (max-width: 765px) {
	.quote {
		margin-top: 10%;
	}
	#left {
		text-align: center;
		margin-bottom: 10%;
	}

	#right{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
    #right .row .col-sm-6 {
	    margin: 10% auto;
    }

}


