.project-container {
	/*background: linear-gradient(
			rgba(20,20,20, .7),
			rgba(20,20,20, .7)),
	url("../assets/images/projectPage2.jpg") repeat-y center center fixed;*/
	min-height: 100vh;
	width: 100%;
	/*position: relative;
	top: 0;
	left: 0;
	overflow-y: scroll;*/
	background-color: #F5F5F5;
	color: var(--dark-grey);

}

.project-inner-container {
	margin: 100px auto;
	padding-left: 5%;
	padding-right: 5%;
}

.filter {
	margin-bottom: 30px;
}

.project-list {
	width: inherit;
}

.my-tab-btn {
	background-color: transparent;
	border: none;
	margin: 0.5em;
}

.my-tab-btn:focus {
	outline: none;
}

.nav-tabs .active {
	border-bottom: 3px solid var(--yellow);
}

.my-tab-btn {
	color: var(--inactive);
}

.active .my-tab-btn {
	color: var(--yellow);
}