.project-container {
	position: relative;
	top: 0;
	left: 0;
	overflow-y: scroll;
	min-height: 95vh;
	width:100%;
}

.project-inner-container {
	margin-top: 25px;
	padding-left: 10%;
	padding-right: 10%;
}

@media only screen and (min-width: 800px) {
	.project-container{
		min-height: 93vh;
	}
}

@media only screen and (max-width: 800px) {
	.project-inner-container{
		margin-bottom: 20%;
		margin-top: 10%;
	}
}


.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.filter {
	margin-bottom: 30px;
}

.project-list {
	width: inherit;
}

.my-tab-btn {
	background-color: transparent;
	border: none;
	margin: 0.5em;
}

.my-tab-btn:focus {
	outline: none;
}

.nav-tabs .active {
	border-bottom: 3px solid var(--yellow);
}

.my-tab-btn {
	color: var(--tab-font);
}

.active .my-tab-btn {
	color: var(--yellow);
}


@media only screen and (max-device-width: 500px) {
	.my-tab-btn{
		font-size: 0.9em;
	}
}