<div *ngIf="project" >



	<div id="project-nav" [ngClass]="{'show': scrollUp}">
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">
				<div class="navbar-text navbar-right">
					<button (click)="chooseNextProject()">Next Project</button>
					<i class="material-icons">trending_flat</i>
				</div>

			</div>
		</nav>
	</div>


	<!--   ---------------INTRO ------------------- -->

	<div class="project-container">
		<div id="project-intro" [ngStyle]="{'background-image':  'linear-gradient('+
			'rgba(20,20,20, 0.8), rgba(20,20,20, .5)), url('+ project.images[0].url +')'}">
			<div class="center-div">
				<div class="flex-center-item">
					<h1>{{project.name}}</h1>
				</div>
				<div class="flex-center-item">
					<h4>{{project.description.intro}}</h4>
					<h6>{{project.position}}</h6>
				</div>
			</div>
		</div>

		<!--   ---------------OVERVIEW------------------- -->


		<div id="project-overview" class="padding-content">
			<div class="container-fluid">
				<h2>Overview</h2>
				<div class="row">
					<div class="col-md-8">
						<div>
							<h3>DESCRIPTION</h3>
							<h6>{{project.description.problem}}</h6>
						</div>
						<div>
							<h3>ACHIEVE</h3>
							<h6>{{project.description.achieve}}</h6>
						</div>

					</div>
					<div class="col-md-4">
						<div>
							<h3>ROLE</h3>
							<h6>{{project.position}}</h6>
						</div>
						<div>
							<h3>PLATFORM</h3>
							<h6>{{project.description.platform}}</h6>
						</div>
						<div id="tools">
							<h3>TOOLS</h3>
							<h6 *ngFor="let item of project.description.tools">{{item}}</h6>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--   ---------------MAIN CONTENT ------------------- -->
		<div id="project-content" class="padding-content" *ngIf="project.content !== ''">
			<div *ngFor="let item of project.content">
				<div class="item-title" *ngIf="item.title">
					<h4>{{item.title}}</h4>
				</div>
				<div class="item-content" *ngIf="item.content">
					<h6 *ngFor="let text of item.content">{{text}}</h6>
				</div>
				<div class="item-img" *ngIf="item.img">
					<img src="{{item.img}}" alt="{{item.title}}">
				</div>
			</div>
		</div>

		<!-- ------------------ SUGGEST NEXT PROJECT ------------ -->
		<div id="moreProjects" class="padding-content">
			<h3>MORE WORK</h3>

			<div class="project-list">
				<group-fader [items]="moreProjects"></group-fader>

			</div>
		</div>
	</div>


	<div class="footer navbar-static-bottom text-center">

		<div class="network-icons">
			<a href="{{links.github}}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
			<a href="{{links.linkedin}}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			<a href="mailto:{{links.email}}" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>

		</div>
		<div>
			<h6>Anh Le @2017. All Right Reserved</h6>
		</div>

	</div>

</div>