h6 {
	font-size: 1em;
}

#project-nav {
	visibility: hidden;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

#project-nav .navbar-text {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	color: darkgray;

}

#project-nav .navbar-text button {
	display: inline-block;
	margin: auto 10px;
}

#project-nav .navbar-text:hover {
	color: var(--main-font);
}

#project-nav .navbar-text button:hover {
	color: var(--main-font);
}

#project-nav button {
	border: none;
	background-color: transparent;
}

.project-name {
	margin: 3em auto;
	width: 100%;
	height: 35vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: center center fixed;
}

.project-name h1 {
	font-size: 2.5em;
	color: white;
	margin: 0;
}

.project-name h5{
	color: white;
	margin: 0;
	text-transform: uppercase;
}

.project-intro {
	margin: auto 10%;
	color: var(--amber-font);
}
.project-intro h4 {
	text-transform: none;
	font-size: 1.1em;
}


/*---------- overview --------------*/

#tools {
	margin-bottom: 1em;
}

.margin-bottom {
	margin-bottom: 3em;
}

.right {
	background-color: var(--grey-bg);
	padding: 1em 1em;
}

.right h3 {
	margin-bottom: 0;
}

.right h6 {
	display: inline-block;
	margin: 0 1em 0 0;
}


@media only screen and (min-width: 500px) {
	.right {
		width: 45%;
		margin: 2em 0 0 5%;
		padding: 2em 3em;
	}

}

#project-content {
	padding: 0.5em 15px;
}


#moreProjects h2 {
	padding-bottom: 10px;
	margin-bottom: 30px;
	border-bottom: solid 3px var(--yellow);
}


.item-img {
	width: 100%;
	height: 50vh;
	margin: 3em auto;
	display: flex;
	justify-content: center;
}
.item-img img {
	max-width:100%;
	max-height:100%;
}





