<div class="navbar-wrapper">

    <nav class="navbar navbar-light navbar-fixed-top bg-faded justify-content-between flex-nowrap flex-row">
      <div class="navbar-custom">
        <a routerLink="/home" class="navbar-brand">AL</a>
        <ul class="nav navbar-nav flex-row float-right">
          <li><a routerLink="/projects" routerLinkActive="active active-color">Projects</a></li>
          <li><a routerLink="/contact" routerLinkActive="active">Contact Me</a></li>
        </ul>
      </div>
    </nav>

</div>

<div [@routerAnimation]="prepRouteState(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
