<div class="navbar-wrapper">

    <nav class="navbar navbar-light navbar-fixed-top ">
        <div class="inline-block">
            <div class="flex-row">
                <a routerLink="/home" class="logo"><img src="../assets/icons/Logo.png" alt="AL"></a>
                <ul class="nav navbar-nav navbar-left">
                    <li><a routerLink="/projects" routerLinkActive="active active-color" >Projects</a></li>
                    <li><a routerLink="/contact" routerLinkActive="active">Contact Me</a></li>
                </ul>
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right noshow-on-phone">
            <li><a href="mailto:{{links.email}}" target="_blank"><button type='button' class="custom-btn">Hire Me</button></a>
            </li>
        </ul>
    </nav>

</div>

<div [@routerAnimation]="prepRouteState(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>

<div class="footer navbar-static-bottom text-center">

    <div class="network-icons">
        <a href="{{links.github}}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="{{links.linkedin}}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="mailto:{{links.email}}" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>

    </div>
    <div>
        <h6>Anh Le @2017. All Right Reserved</h6>
    </div>

</div>


