.navbar-wrapper .navbar{
	font-size: 0.9em;
	background: white;
	padding-left: 10%;
	padding-right: 10%;
	height: 70px;
	align-items: center;
	color: var(--main-font);
}


.inline-block{
	display: inline-block;
	margin-top: 10px;
}

.navbar-right {
	padding: 10px auto!important;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.navbar-nav .custom-btn {
	font-size: 1em;
	font-weight: 600;
	color: var(--amber-font);
	margin-bottom: 0.5em;
}

@media (max-device-width: 500px) {
	.navbar-wrapper .navbar {
		height: 65px;
	}

	.inline-block{
		width: 100%;
		margin-top: 0px;
	}
}

.logo{
	float: left;
	width: 3em;
	height: 3em;
	margin-right: 2em;
}

.logo img {
	width: inherit;
	height: inherit;
}

.navbar-nav a {
	text-transform: uppercase;
	color: var(--bold-font);
	font-weight: 600;
	letter-spacing: 0.1em;
	padding: 0.2em 0!important;
}

.navbar-nav li {
	margin: 1em 1.2em!important;
	display: inline-block;
}


.navbar-nav a:hover{
	color: var(--yellow);
	background-color: transparent !important;
}

.navbar-nav a:focus{
	color: var(--yellow);
	background-color: transparent !important;

}

li .active{
	border-bottom: solid 2px var(--yellow);
}





