:root {
	--inactive-color: #B5C2EB;
	--active-color: #494DA1;
	--button-color: #fd76b2;
}
body {
	height: 100%;
	font-family: 'Raleway', sans-serif;
	background-color: white;

}




.inactive-color {
	color: var(--inactive-color);
}

.active-color {
	color: var(--active-color);
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
	padding-right: 0;
	padding-left: 0;
}
.navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
}
.navbar-wrapper .navbar .container {
	width: auto;
}

.navbar-default .navbar-toggle {
	border-style: none;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: var(--inactive-color);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-default .navbar-toggle:focus>.icon-bar, .navbar-default .navbar-toggle:hover>.icon-bar{
	background-color: var(--active-color);
}


.navbar-custom{
	border-style: solid;
	background-color: white;
	text-transform: uppercase;
	font-weight: 700;
	font-size: smaller;

}

.navbar-custom .navbar-nav>li>a{
	color: var(--inactive-color);
}

.navbar-custom .navbar-nav>li>a:hover, .navbar-nav>li>a:focus{
	color: var(--active-color);
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
	/* Navbar positioning foo */
	.navbar-wrapper {
		margin-top: 20px;
	}
	.navbar-wrapper .container {
		padding-right: 15px;
		padding-left: 15px;
	}
	.navbar-wrapper .navbar {
		padding-right: 0;
		padding-left: 0;
	}
	/* The navbar becomes detached from the top, so we round the corners */
	.navbar-wrapper .navbar {
		border-radius: 4px;
	}

	.navbar-custom{
		border-style: none;
		background-color: white;
		text-transform: uppercase;
		font-weight: 700;
		font-size: smaller;

	}

	.navbar-custom .navbar-nav>li>a{
		color: var(--inactive-color);
	}

	.navbar-custom .navbar-nav>li>a:hover, .navbar-nav>li>a:focus{
		color: var(--active-color);
	}
}

/* General style
---------------------------------------------------------*/
.full-height {
	height: 100%;
}

.flex-center-container-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.flex-left-container-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 100%;
}

.flex-center-container-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;

}

.flex-left-container-row {
	display: flex;
	flex-flow: row wrap;
	flex-direction: row;
	justify-content: flex-start;
}

.flex-center-item {
	align-self: center;
	text-align: center;
}

.flex-left-item {
	align-self: flex-start;
}

.align-left {
	margin-left: 0 !important;
}

.btn-custom {
	margin: 0.5em 1em;
	padding: 1em 1em;
	border-radius: 0;
	background-color: var(--button-color);
	color: #ffffff;
	text-transform: uppercase;
	font-size: small;
	font-weight: 500;
}
