.spacer {
	padding-top: 10%;
	padding-bottom: 5%;
}

.projects {
	margin: 1em 0;
}

.galleryItem {
	position: relative;
}

.img-thumbnail {
	display: block;
	height: auto;
	padding: 0;
}

.galleryItem img {
	max-width: 100%;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--inactive-color);
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
}

.galleryItem:hover .overlay {
	height: 100%;
}

.text {
	color: white;
	font-size: 1em;
	position: absolute;
	hyphens: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
