*, *::before, *::after{
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.container {
	width: 80%;
	margin: 10% auto;
}

.image-flex-div {
	display: flex;
	flex-wrap: wrap;
}


.projects {
	display: inline-block;
	margin-bottom: 8px;
	width: calc(50% - 4px);
	margin-right: 8px;
	text-decoration: none;
	color: black;
}

.projects:nth-of-type(2n) {
	margin-right: 0;
}

@media screen and (min-width: 50em) {
	.projects{
		width: calc(25% - 6px);
	}

	.projects:nth-of-type(2n) {
		margin-right: 8px;
	}

	.projects:nth-of-type(4n) {
		margin-right: 0;
	}
}


.img-wrapper {
	display: inline-block;
	overflow: hidden;
}

.img-wrapper img {
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	vertical-align: middle;
}

.img-wrapper img:hover {
	transform:scale(1.5);
	-ms-transform:scale(1.5); /* IE 9 */
	-moz-transform:scale(1.5); /* Firefox */
	-webkit-transform:scale(1.5); /* Safari and Chrome */
	-o-transform:scale(1.5); /* Opera */
}


figcaption {
	margin-top: 15px;
}

img {
	border: none;
	max-width: 100%;
	height: auto;
	display: block;
	background: #ccc;
	transition: transform .2s ease-in-out;
}
