<div class="container">

	<div class="row spacer">
		<h1 class="text-center">Work / Projects</h1>
	</div>

	<div class="flex-center-container-row">
		<div *ngFor="let project of projects" class="text-center projects">
			<div class="galleryItem">
				<img ng-click="chooseProject(project)" class="img-thumbnail" src="{{project.image}}" (click)="chooseProject(project)" alt="project image">
				<div class="overlay">
					<p class="text trunc">{{project.info | truncate}}</p>
				</div>
			</div>

			<h3>{{project.name}}</h3>
			<p>{{project.category}}</p>
		</div>
	</div>

</div>

